<!-- SideBar -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <span [routerLink]="">Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sidebarItems"
        [routerLink]="[item.url]"
        (clck)="sidenav.toggle()">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- navBar -->
  <mat-toolbar color="primary">
    <mat-toolbar-row class="flex justify-content-between">
      <div class="row flex justify-content-between align-items-center">
        <button
          mat-icon-button
          class="example-icon"
          (click)="sidenav.toggle()"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 [routerLink]="['./']">Angular</h1>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="p-3">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
